[submodule "ForByte/vendor/spdlog"]
	path = ForByte/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "ForByte/vendor/GLFW"]
	path = ForByte/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
